*{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    letter-spacing: 1px;
    color: rgba(138, 38, 22, 1);
}

a{
  text-decoration: none;
  color: rgba(138, 38, 22, 1);
}

a:hover{
  color: rgb(247, 177, 90);
}

body{
  background-color: rgba(245, 245, 225, 1);
}

header nav{
  position: relative;
  text-align: center;
  background-color: rgba(138, 38, 22, 1);
  font-size: 1.1em;
}

header a{
  color: white;
  text-decoration: none;
}

header a:hover{
  color: rgb(247, 177, 90);
  text-decoration: none;
}

header img{
  height: 3em;
  width: 4.8em;
  vertical-align: middle;
}

header .barreMenu, .barreMenu ul{
	padding : 0; /* pas de marge intérieure */
	margin : 0; /* ni extérieure */ /* on définit une hauteur pour chaque élément */
  line-height : 40px; /* on définit une hauteur pour chaque élément */
	text-align : center; /* on centre le texte qui se trouve dans la liste */
}

header .barreMenu li {
	/* on place les liens du menu horizontalement */
	display: inline-block;
	position: relative;
	width: 15em;
}

.formConnexion{
  text-align: center;
  letter-spacing: 1px;
  background-color: rgba(245, 245, 225, 1);
  padding: 1em;
  border: 3px solid rgba(150, 38, 22, 1);
}

.formInscription{
  text-align: center;
  letter-spacing: 1px;
  background-color: rgba(245, 245, 225, 1);
  padding: 1em;
  border: 3px solid rgba(150, 38, 22, 1);
}


#inscription, #connexion{
    border: 3px solid rgba(150, 38, 22, 1);
    padding: 0.6em 1.2em;
    background: transparent;
    color: rgba(150, 38, 22, 1);
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#annuler{
    border: 3px solid rgba(150, 38, 22, 1);
    padding: 0.6em 1.2em;
    background: transparent;
    color: rgba(150, 38, 22, 1);
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


#connexion:hover, #annuler:hover, #inscription:hover {
    background: #FFF;
    color: rgba(250, 190, 107, 1);
}

#emailAccueil, #mdpAccueil {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 15px;
    display: block;
    margin: 0 auto 10px;
    width: 50%;
    border:none;
    font-family: 'Lato', sans-serif;
    color: #73556b;
    font-size: 0.8em;
}

#formInscription table{
  text-align: left;
  margin: auto;
  width: 90%;
}

#formInscription img{
  text-align: right;
  width: 25px;
  height: 25px;
}

.popups{
  text-align: center;
  letter-spacing: 1px;
  background-color: rgba(245, 245, 225, 1);
  padding: 1em;
  border: 3px solid rgba(150, 38, 22, 1);
}

.label{
  color: rgba(250, 190, 107, 1);
  border: 3px solid rgba(250, 190, 107, 1);
  padding: 0.6em 1.2em;
  background: transparent;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.label:hover{
  background: #FFF;
  color: rgba(250, 190, 107, 1);
  border: 3px solid rgba(150, 38, 22, 1);
}

.formulaires{
  margin-top: 3em;
}

.js .inputFile {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}

.select{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  background: transparent;
  font-size: 0.8em;
}

.boutonsFormulaires{
  border: 3px solid rgba(150, 38, 22, 1);
  padding: 0.6em 1.2em;
  background: transparent;
  color: rgba(150, 38, 22, 1);
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.petitsBoutonsFormulaires{
  border: 3px solid rgba(150, 38, 22, 1);
  padding: 0.6em 1.2em;
  background: transparent;
  color: rgba(150, 38, 22, 1);
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 0.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.boutonsFormulaires:hover, .petitsBoutonsFormulaires:hover{
  background: #FFF;
  color: rgba(250, 190, 107, 1);
  border: 3px solid rgba(150, 38, 22, 1);
}

#prenom, #nom, #email, #confirmerEmail, #mdp, #confirmerMdp, #portable{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 15px;
  display: block;
  margin: 0 auto 10px;
  width: 80%;
  border:none;
  font-family: 'Lato', sans-serif;
  color: #73556b;
  font-size: 0.8em;
}

header .postEmail{
  padding-top: 0.6em;
}

header .barreMenu p{
  margin-top: -10px;
  margin-bottom: -5px;
  padding-bottom: -5px;
}

header .barreMenu ul li {
	/* on enlève ce comportement pour les liens du sous menu */
  display: inherit;
	border-radius: 0;
}

header .barreMenu ul {
	position:absolute;
  z-index: 1000;
  background-color: rgba(138, 38, 22, 1);
}

.container{
  padding: 3em;
}

.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:left;
  margin-right:-4px;
}

footer{
  position: relative;
  text-align: center;
  clear:both;
  margin-top: 3em;
  padding: 0.8em;
  background-color: rgba(138, 38, 22, 1);
  color: white;
}
