a{
  text-decoration: none;
  color: rgba(138, 38, 22, 1);
}

a:hover{
  color: rgb(247, 177, 90);
}

.photoGroupeMembre{
  width: 6em;
  height: 6em;
  border-radius: 50%;
}


.membreGroupe{
  text-align: center;
  padding: 2em;
}
