.inscriptionConfirmee{
  text-align: center;
}

.photoNom p{
  text-align: center;
  font-size: 1.5em;
  color: rgba(138, 38, 22, 1);
  font-weight: 100;
}

.photoNom{
  background-color: rgb(247, 177, 90);
  padding: 1em;
}

.pasInstrument{
  text-align: center;
  color: rgba(150, 38, 22, 1);
}

.mesInstruments, .mesInformations{
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  font-size: 1.5em;
  font-weight: bold;
}

.nomInstrument{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.instrumentsProfil{
  padding: 2em;
  text-align: center;
}

.niveau, .experience{
  line-height: 35%;
}

.detailsInstruments span{
  font-weight: bold;
}

.detailsInstruments{
  background-color: rgb(247, 177, 90);
  padding : 0.5em;
  border-radius: 5%;
}

#photoInstrument{
  height: 4em;
  width: 4em;
}

.formulaires{
  text-align: center;
}

.js .inputFile {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}

.informationsProfil{
  text-align: center;
}

.informationsProfil img{
  height: 3.5em;
  width: 3.5em;
  margin: auto;
}

.conteneurPhotoFacebook img{
  height: 5em;
  width: 5em;
}

.conteneurPhotoFacebook a{
  margin: auto;
}

.conteneurPhotoEmail{
  border-radius: 50%;
  padding: 1em;
  background-color: rgb(247, 177, 90);
  margin: auto;
  width: 70%;
}

.conteneurPhotoPortable{
  border-radius: 50%;
  padding: 1em;
  width: 70%;
  background-color: rgb(247, 177, 90);
  margin: auto;
}

.conteneurPhotoFacebook{
  margin: auto;
  width: 70%;
}

.photoNom img{
  display: block;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}
